stlp-error-alert::part(text),
stlp-info-alert::part(text),
stlp-warn-alert::part(text) {
  color: #ffffff;
}

stlp-error-alert::part(wrap) {
  background-color: #ff0000;
}

stlp-info-alert::part(wrap) {
  background-color: #00ff00;
}

stlp-warn-alert::part(wrap) {
  background-color: #0000ff;
}
